* {
  background-color: black;
  font-family: Verdana;
  tex-align: center;

}


.headera, h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;

}

#link {
  color: #7fffd4;
  font-size: 16px;
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}

}
.headerb, h1{
  font-weight: normal;
  font-size: 42px;
  color: white;
  text-align: center;

}

#paragraphb {
  color: gray;
  font-size: 21px;
  text-align: center;
}

#landscape {
  size: 50px;
  text-align: center;
}

#icon {
  size: 15px;
  text-align: center;
}

.headerc, h1{
  font-weight: 300px;
  font-size: 42px;
  color: white;
  text-align: center;
}



#excursion {
  color: gray;
  text-align: right;
}
